@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Source Serif Pro, Roboto sans-serif;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 136px;
}
header nav .nav-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav .nav-text ul li {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
header nav .nav-text ul li a {
  text-decoration: none;
  color: #3a5f56;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
header nav .nav-text .btn1 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 122px;
  height: 44px;
  border-radius: 6px;
  border: none;
  background-color: #3a5f56;
  cursor: pointer;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  transition: 0.5s;
}
header nav .nav-text .btn1:active {
  scale: 0.9;
}
header nav .nav-text .btn1:hover {
  background-color: #7c9a92;
}

@media (max-width: 800px) {
  .nav-text {
    display: none !important;
  }
}
main .section1 {
  padding: 100px 136px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f3f0;
}
main .section1 .sec-text h1 {
  font-family: Source Serif Pro;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: left;
  color: #3a5f56;
  width: 477px;
  margin-bottom: 20px;
}
main .section1 .sec-text p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #292c32;
  width: 534px;
  margin-bottom: 20px;
}
main .section1 .sec-text .btn2 {
  width: 118px;
  height: 44px;
  border-radius: 6px;
  font-family: Roboto;
  background-color: #3a5f56;
  border: none;
  color: white;
  transition: 0.5s;
}
main .section1 .sec-text .btn2:active {
  scale: 0.9;
}
main .section1 .sec-text .btn2:hover {
  background-color: #7c9a92;
}
main .section2 {
  padding: 100px 136px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section2 .section-text2 {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 15px;
}
main .section2 .section-text2 img {
  width: 160px;
  margin: 0 auto;
  height: 19px;
}
main .section2 .section-text2 h3 {
  font-family: Source Serif Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  color: #3a5f56;
}
main .section2 .section-text2 p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: #292c32;
  width: 590px;
}
main .section3 {
  padding: 100px 168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .section3 .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
main .section3 .cards .card {
  width: 379px;
  height: 304px;
  padding: 30px 40px 50px;
  background-color: #f4f3f0;
  border-radius: 16px;
}
main .section3 .cards .card h2 {
  font-family: Source Serif Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #3a5f56;
  margin-bottom: 6px;
}
main .section3 .cards .card p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #292c32;
  margin-bottom: 17px;
}
main .section3 .cards .card .btn3 {
  width: 112px;
  height: 23px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  color: #292c32;
  cursor: pointer;
  transition: 0.5s;
}
main .section3 .cards .card .btn3:active {
  scale: 0.9;
}
main .section3 .cards .card .btn3:hover {
  color: #3a5f56;
}
main .section4 {
  padding: 100px 136px;
  align-items: center;
  background-color: #f4f3f0;
}
main .section4 .section-center {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 15px;
}
main .section4 .section-center img {
  width: 160px;
  margin: 0 auto;
  height: 19px;
}
main .section4 .section-center h3 {
  font-family: Source Serif Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  color: #db343b;
}
main .section4 .section-center p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0 auto;
  color: #292c32;
  width: 590px;
}
main .section4 .sec4-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 70px;
  margin-bottom: 30px;
}
main .section4 .sec4-cards .sec4-card {
  width: 379px;
  height: 438px;
  background-color: #fff;
  border-radius: 15px;
}
main .section4 .sec4-cards .sec4-card h2 {
  font-family: Source Serif Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  color: #3a5f56;
  padding: 29px 60px 6px 30px;
}
main .section4 .sec4-cards .sec4-card p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #3a5f56;
  padding: 0 31px 26px;
}
main .section4 .btn4 {
  width: 121px;
  height: 23px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  color: #292c32;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.8px;
  text-align: left;
  cursor: pointer;
  transition: 0.5s;
}
main .section4 .btn4:active {
  scale: 0.9;
}
main .section4 .btn4:hover {
  color: #3a5f56;
}
main .section5 {
  padding: 100px 0;
}
main .section5 .sec5-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 16px;
  width: 800px;
  height: 259px;
  padding: 80px;
  background-color: #f4f3f0;
}
main .section5 .sec5-card h2 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  color: #292c32;
  width: 313px;
}
main .section5 .sec5-card .btn5 {
  width: 125px;
  height: 50px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  background-color: #3a5f56;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}
main .section5 .sec5-card .btn5:hover {
  background-color: #292c32;
}
main .section5 .sec5-card .btn5:active {
  scale: 0.9;
}

@media (max-width: 808px) {
  .cards .card:nth-child(3),
  .cards .card:nth-child(4),
  .cards .card:nth-child(5),
  .cards .card:nth-child(6),
  .cards .card:nth-child(7) {
    display: none !important;
  }
  .section1 {
    padding: 20px 10px !important;
  }
  .section1 img {
    margin: 0 auto;
    width: 400px;
    height: auto;
    margin-top: 20px;
  }
  .section2,
  .section3,
  .section4,
  .section5 {
    padding: 20px 10px !important;
  }
  .sec5-card {
    width: 500px !important;
  }
  h2, h3 {
    font-size: 24px !important;
  }
  .section-center {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  .section-center p {
    width: 400px !important;
  }
  .cards, .section-text2 {
    margin: 0 auto !important;
    flex-direction: column;
    justify-content: center;
  }
  .section-text2 {
    flex-direction: column;
    justify-content: center;
  }
  .section-text2 p {
    width: 400px !important;
  }
  .sec-text {
    margin: 0 auto !important;
  }
  .sec-text h1 {
    font-size: 30px !important;
  }
  .sec-text p {
    width: 400px !important;
    font-size: 16px !important;
  }
  .sec-text .btn2 {
    width: 100px !important;
    height: 30px !important;
    padding: 0 !important;
  }
  .footer-end-text p {
    display: none !important;
  }
  .footer-end-text .icons {
    margin: 0 auto;
  }
  .sec5-card {
    width: 400px !important;
    height: 159px !important;
    padding: 10px 10px !important;
  }
  .sec5-card h2 {
    font-size: 18px !important;
    line-height: none;
  }
  .sec5-card .btn5 {
    width: 100px !important;
    height: 30px !important;
    font-size: 16px !important;
  }
}
@media (max-width: 485px) {
  .sec5-card {
    width: 350px !important;
    height: 159px !important;
    padding: 10px 10px !important;
  }
  p {
    font-size: 16px;
  }
  h2, h3 {
    font-size: 18px !important;
  }
  .sec-text {
    margin: 0 auto !important;
    width: 350px;
  }
  .sec-text h1 {
    font-size: 28px !important;
    width: 300px !important;
  }
  .sec-text p {
    font-size: 12px !important;
    width: 300px !important;
  }
  .sec-text .btn2 {
    width: 100px !important;
    height: 30px !important;
    padding: 0 !important;
  }
  .section1 {
    padding: 20px 10px !important;
  }
  .section1 img {
    margin: 0 auto;
    width: 300px;
    height: auto;
    margin-top: 20px;
  }
  .section2 p, .section-center p {
    display: none;
    margin-bottom: none;
  }
  .sec4-cards .sec4-card:nth-child(2),
  .sec4-cards .sec4-card:nth-child(3) {
    display: none !important;
  }
  .footer-end-text p {
    display: none !important;
  }
  .footer-end-text .icons {
    margin: 0 auto;
  }
  .sec5-card {
    width: 350px !important;
    height: 159px !important;
    padding: 10px 10px !important;
  }
  .sec5-card h2 {
    font-size: 18px !important;
    line-height: none;
  }
  .sec5-card .btn5 {
    width: 100px !important;
    height: 30px !important;
    font-size: 16px !important;
  }
}
@media (max-width: 385px) {
  .sec4-cards .sec4-card:nth-child(2),
  .sec4-cards .sec4-card:nth-child(3) {
    display: none !important;
  }
  .card {
    width: 320px !important;
  }
  .sec4-card {
    width: 320px !important;
  }
  .sec4-card img {
    width: 320px !important;
  }
  .footer-end-text p {
    display: none !important;
  }
  .footer-end-text .icons {
    margin: 0 auto;
  }
  .sec-text {
    margin: 0 auto !important;
    width: 350px;
  }
  .sec-text h1 {
    font-size: 28px !important;
    width: 300px !important;
  }
  .sec-text p {
    font-size: 12px !important;
    width: 300px !important;
  }
  .sec-text .btn2 {
    width: 100px !important;
    height: 30px !important;
    padding: 0 !important;
  }
  .sec5-card {
    width: 280px !important;
    height: 159px !important;
    padding: 10px 10px !important;
  }
  .sec5-card h2 {
    font-size: 18px !important;
    line-height: none;
  }
  .sec5-card .btn5 {
    width: 100px !important;
    height: 30px !important;
    font-size: 16px !important;
  }
}
@media (max-width: 320px) {
  .sec-text {
    margin: 0 auto !important;
    width: 350px;
  }
  .sec-text h1 {
    font-size: 28px !important;
    width: 300px !important;
  }
  .sec-text p {
    font-size: 12px !important;
    width: 300px !important;
  }
  .sec-text .btn2 {
    width: 100px !important;
    height: 30px !important;
    padding: 0 !important;
  }
  .sec4-cards .sec4-card:nth-child(2),
  .sec4-cards .sec4-card:nth-child(3) {
    display: none !important;
  }
  .card {
    width: 300px !important;
  }
  .sec4-card {
    width: 300px !important;
  }
  .sec4-card img {
    width: 300px !important;
  }
  .sec5-card {
    width: 280px !important;
    height: 159px !important;
    padding: 10px 10px !important;
  }
  .sec5-card h2 {
    font-size: 18px !important;
    line-height: none;
  }
  .sec5-card .btn5 {
    width: 100px !important;
    height: 30px !important;
    font-size: 16px !important;
  }
  .footer-end-text p {
    display: none !important;
  }
  .footer-end-text .icons {
    margin: 0 auto;
  }
}
footer .bg-color {
  padding: 100px 136px;
  background-color: #292c32;
}
footer .bg-color .img-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
footer .bg-color .footer-content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
footer .bg-color .footer-content .footer-text h3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 3px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 12px;
  color: #b87d58;
}
footer .bg-color .footer-content .footer-text p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #fff;
  margin-bottom: 12px;
}
footer .bg-color .footer-content .footer-text .input-btn {
  width: 458px;
  height: 53px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 8px;
}
footer .bg-color .footer-content .footer-text .input-btn input {
  width: 370px;
  height: 53px;
  padding-left: 18px;
  border: none;
  background-color: #f9fafb;
  border-radius: 8px;
}
footer .bg-color .footer-content .footer-text .input-btn .btn6 {
  width: 71px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #292c32;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: white;
  padding-left: 8px;
  cursor: pointer;
  transition: 0.5s;
}
footer .bg-color .footer-content .footer-text .input-btn .btn6:active {
  scale: 0.9;
}
footer .bg-color .footer-content .footer-text .input-btn .btn6:hover {
  background-color: #b87d58;
}
footer .bg-color .footer-content .footer-text_end {
  width: 404px;
}
footer .bg-color .footer-content .footer-text_end h3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 3px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 12px;
  color: #b87d58;
}
footer .bg-color .footer-content .footer-text_end p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #fff;
  margin-bottom: 12px;
}
footer .bg-color .footer-content .footer-text_end .input-btn {
  width: 458px;
  height: 53px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 8px;
}
footer .bg-color .footer-content .footer-text_end .input-btn input {
  width: 370px;
  height: 53px;
  padding-left: 18px;
  border: none;
  background-color: #f9fafb;
  border-radius: 8px;
}
footer .bg-color .footer-content .footer-text_end .input-btn .btn6 {
  width: 71px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #292c32;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: white;
  padding-left: 8px;
  cursor: pointer;
  transition: 0.5s;
}
footer .bg-color .footer-content .footer-text_end .input-btn .btn6:active {
  scale: 0.9;
}
footer .bg-color .footer-content .footer-text_end .input-btn .btn6:hover {
  background-color: #b87d58;
}
footer .bg-color .footer-end-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
footer .bg-color .footer-end-text p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: white;
}
footer .bg-color .footer-end-text .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 925px) {
  .footer-content {
    display: none !important;
    padding: none;
  }
}
@media (max-width: 808px) {
  .bg-color {
    padding: 10px !important;
  }
}
#side {
  background: teal;
  display: none;
}

ul {
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style: none;
}

ul li a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

ul li a:hover {
  text-decoration: underline;
}

#side input {
  width: 40px;
  aspect-ratio: 1;
  display: none;
  overflow: hidden;
  margin: 10px 20px 10px auto;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

#side input:before,
#side input:after {
  content: "";
  grid-area: 1/1;
  transition: 0.3s;
}

#side input:before {
  background: radial-gradient(closest-side at 12.5% 25%, #fff 96%, rgba(0, 0, 0, 0)) 0 0/80% 40%, linear-gradient(#fff 50%, rgba(0, 0, 0, 0) 0) top/80% 40% repeat-y;
}

#side input:after {
  padding: 10%;
  background: radial-gradient(closest-side at 50% 12.5%, #fff 96%, rgba(0, 0, 0, 0)) top/20% 80% repeat-y, radial-gradient(closest-side at 12.5% 50%, #fff 96%, rgba(0, 0, 0, 0)) left/80% 20% repeat-x, conic-gradient(from 90deg at 33% 33%, rgba(0, 0, 0, 0) 90deg, #fff 0) 100% 100%/60% 60% padding-box content-box;
  transform: translate(-100%) translateZ(0) rotate(45deg);
  opacity: 0;
}

#side input:checked:before {
  transform: translate(100%);
  opacity: 0;
}

#side input:checked:after {
  transform: translate(0) translateZ(0) rotate(45deg);
  opacity: 1;
}

@media (max-width: 800px) {
  nav {
    display: none !important;
  }
  #side {
    display: flex;
  }
  ul {
    position: fixed;
    background: inherit;
    flex-direction: column;
    inset: 0 0 0;
    padding: 40px;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translate(-100%);
    opacity: 0;
    transition: 0.3s;
  }
  #side input {
    display: grid;
    z-index: 3;
  }
  #side input:checked + ul {
    transform: translate(0);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */